.menu__button {
    margin: 0;
    padding: 0;
    background: #603BB7;
    color: #ECEDED;
    height: 48px;
    width: 190px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .menu__button {
        margin-bottom: 59px;
    }
}